# Pandas Essentials:  Loading and Grokking your Data

This Pandas Notebook illustrates the essentials of loading and "grokking" or understanding your data.  Concepts are illustrated with the [New York City pizza restaurant inspection data](https://github.com/ecerami/pydata-essentials/blob/master/pandas/data/NYC_Pizza_2017.csv).

Topics include:

* Loading data
* Grokking your data set:
    * Getting the shape of your data
    * Peaking at your data
    * Understanding indexes, columns and data types
    * Generating descriptive statistics for your data

# Loading Data

In [7]:
# Loading data via pd.read_csv
import pandas as pd
pizza_df = pd.read_csv("data/NYC_Pizza_2017.csv")

# Grokking your data

## Getting the shape of your data

In [2]:
# Determine dimensions of data frame
pizza_df.shape

(1148, 10)

## Peeking at your data

In [3]:
pizza_df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
0,40363644,DOMINO'S,MANHATTAN,464,3 AVENUE,10016.0,Pizza,4.0,A,2017-03-30
1,40363945,DOMINO'S,MANHATTAN,148,WEST 72 STREET,10023.0,Pizza,12.0,A,2017-03-02
2,40364920,RIZZO'S FINE PIZZA,QUEENS,3013,STEINWAY STREET,11103.0,Pizza,12.0,A,2016-11-03
3,40365280,COMO PIZZA,MANHATTAN,4035,BROADWAY,10032.0,Pizza,10.0,A,2016-08-29
4,40365632,J&V FAMOUS PIZZA,BROOKLYN,6322,18 AVENUE,11204.0,Pizza,2.0,A,2017-04-05

In [4]:
pizza_df.tail()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
1143,50059977,LUIGI'S PIZZA,MANHATTAN,2127,AMSTERDAM AVE,10032.0,Pizza,2.0,A,2017-03-03
1144,50060049,TRADITA BRICK OVEN PIZZA,BRONX,292,E 204TH ST,10467.0,Pizza,4.0,A,2017-03-27
1145,50060439,LA VERA PIZZA,MANHATTAN,922,2ND AVE,10017.0,Pizza,9.0,A,2017-03-24
1146,50060695,2 BROS PIZZA,QUEENS,16417,JAMAICA AVE,11432.0,Pizza,7.0,Z,2017-04-10
1147,50062741,LA ROMANA PIZZERIA,BROOKLYN,755,GRAND ST,11211.0,Pizza,6.0,A,2017-04-18

## Understanding indexes, columns and data types

In [5]:
pizza_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1148 entries, 0 to 1147
Data columns (total 10 columns):
CAMIS                  1148 non-null int64
DBA                    1148 non-null object
BORO                   1148 non-null object
BUILDING               1148 non-null object
STREET                 1148 non-null object
ZIPCODE                1148 non-null float64
CUISINE DESCRIPTION    1148 non-null object
SCORE                  1148 non-null float64
GRADE                  1148 non-null object
GRADE DATE             1148 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 89.8+ KB

In [6]:
pizza_df.index

RangeIndex(start=0, stop=1148, step=1)

In [7]:
pizza_df.columns

Index([u'CAMIS', u'DBA', u'BORO', u'BUILDING', u'STREET', u'ZIPCODE',
       u'CUISINE DESCRIPTION', u'SCORE', u'GRADE', u'GRADE DATE'],
      dtype='object')

In [8]:
pizza_df.dtypes

CAMIS                    int64
DBA                     object
BORO                    object
BUILDING                object
STREET                  object
ZIPCODE                float64
CUISINE DESCRIPTION     object
SCORE                  float64
GRADE                   object
GRADE DATE              object
dtype: object

## Generating descriptive statistics for your data

In [9]:
# By default, describe() outputs summary data for numeric data only
pizza_df.describe()

              CAMIS       ZIPCODE        SCORE
count  1.148000e+03   1148.000000  1148.000000
mean   4.473970e+07  10740.940767    10.141986
std    4.373390e+06    568.064156     5.869539
min    4.036364e+07  10001.000000     0.000000
25%    4.114623e+07  10036.000000     7.000000
50%    4.161464e+07  11022.000000    10.000000
75%    5.001904e+07  11229.000000    12.000000
max    5.006274e+07  11694.000000    54.000000

In [10]:
# Use include="all" to get summary info for all columns
pizza_df.describe(include="all")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
count,1.148000e+03,1148,1148,1148,1148,1148.000000,1148,1148.000000,1148,1148
unique,NaN,827,5,967,586,NaN,1,NaN,4,310
top,NaN,DOMINO'S,MANHATTAN,201,BROADWAY,NaN,Pizza,NaN,A,2017-02-22
freq,NaN,84,330,5,50,NaN,1148,NaN,1043,11
mean,4.473970e+07,NaN,NaN,NaN,NaN,10740.940767,NaN,10.141986,NaN,NaN
std,4.373390e+06,NaN,NaN,NaN,NaN,568.064156,NaN,5.869539,NaN,NaN
min,4.036364e+07,NaN,NaN,NaN,NaN,10001.000000,NaN,0.000000,NaN,NaN
25%,4.114623e+07,NaN,NaN,NaN,NaN,10036.000000,NaN,7.000000,NaN,NaN
50%,4.161464e+07,NaN,NaN,NaN,NaN,11022.000000,NaN,10.000000,NaN,NaN
75%,5.001904e+07,NaN,NaN,NaN,NaN,11229.000000,NaN,12.000000,NaN,NaN
max,5.006274e+07,NaN,NaN,NaN,NaN,11694.000000,NaN,54.000000,NaN,NaN

You can also calculate specific statistics directly.

In [9]:
pizza_df.mean()

CAMIS      4.473970e+07
ZIPCODE    1.074094e+04
SCORE      1.014199e+01
dtype: float64

In [10]:
pizza_df.median()

CAMIS      41614636.5
ZIPCODE       11022.0
SCORE            10.0
dtype: float64

In [15]:
pizza_df.std()

CAMIS      4.373390e+06
ZIPCODE    5.680642e+02
SCORE      5.869539e+00
dtype: float64